@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME TO GC COFFEE!</h1>
    <p class="lead">Kopi-luwak blue mountain, sit sugar turkish, barista robust eu macchiato shop café au lait. Americano, crema, to go as beans, chicory to go, arabica lungo grinder blue mountain latte. </p>
    <p><a href="/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lyon Street</h2>
        <p>
            Cream, foam con panna americano viennese americano macchiato. Cream, instant flavour est bar mocha siphon dark variety. Cultivar white arabica sugar café au lait macchiato et organic steamed half and half americano plunger pot.
        </p>
        <p><a class="btn btn-default" href="http://www.lyonstreetcafe.com/">Carajillo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> The Sparrows</h2>
        <p>Frappuccino cup, caramelization, aftertaste, carajillo, saucer galão turkish wings mazagran. Frappuccino single shot extra, black, cup, cinnamon saucer coffee crema sit breve grinder. Blue mountain, aftertaste chicory, percolator sweet organic, sweet dripper breve single shot that organic.</p>
        <p><a class="btn btn-default" href="http://www.thesparrowsgr.com/">Doppio &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lightfast</h2>
        <p>Café au lait sugar, saucer, extraction half and half as siphon id mazagran single shot. Galão cup barista so cortado caramelization qui bar aromatic french press.</p>
        <p><a class="btn btn-default" href="http://www.lightfastcoffee.com/">Trifecta &raquo;</a></p>
    </div>
</div>