<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <h1> @ViewBag.FirstName</h1>
        <p> @ViewBag.Contact</p>
    </div>
</body>
</html>